<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author.name %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div>
  <h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <p>
      <%= comment.display_name %>
    </p>
    <p>
      <%= link_to comment.website, "www.google.com" %>
    </p>
    <p>
      <%= comment.body %>
    </p>
  <% end %>
  <hr>
</div>
